#keyboard {
  display: flex;
}
.whitekey {
  height: 100px;
  width: 28px;
  background-color: white;
  outline-style: solid;
  outline-width: thin
}

.blackkey {
  height: 60px;
  background-color: black;
  position: absolute;
  outline-style: solid;
  outline-width: thin
}
